<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer Info</title>
</head>
<body>

     <h1>Programmer Page</h1>
     <h2 th:text="${msg}"></h2>
<!--     <h3 th:text="${pId}"></h3>-->
<!--     <h3 th:text="${pName}"></h3>-->
<!--     <h3 th:text="${pLang}"></h3>-->

     <h3 th:text="${programmer.pId}"></h3>
     <h3 th:text="${programmer.pName}"></h3>
     <h3 th:text="${programmer.pLang}"></h3>
     <h3 th:text="${programmer}"></h3>

</body>
</html>